<!doctype html>
<html lang="en">
    <head>
        <title>My TODO list</title>
            <link rel='stylesheet' type='text/css' href='static/style.css'>
    </head>
    <body>
        <h1>YOUR PERSONAL TODO LIST</h1>
        <button class="button button0 ">Add Task</button>
        <table id="tasks">
          <tr>
            <th>#</th>
            <th>Task Name</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
          {% block content %}{% endblock %}
        </table>
    </body>
</html>