{% extends "base.html" %}

{% block content %}
    {% for to_do in to_dos %}
        <tr>
            <td>{{ to_do.id }}</td>
            <td>{{ to_do.task_descr }}</td>
            <td>{{ to_do.status.value }}</td>
            <td>
                <select class="button button2">
                  <option> {{ to_do.status.value }} </option>
                  <option>In progress</option>
                  <option>Done</option>
                </select>
            </td>
            <td><a href="/delete/{{ to_do.id }}" class="button button1">Delete</a></td>
        </tr>
    {% endfor %}
{% endblock %}